<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>Products:</h1>
    {% if products %}
    <ul>
        {% for product in products %}
        <li>
            <a href="{{ product.get_absolute_url }}"> 
                <h2>{{product.title}}</h2>    
            </a> 
        </li>
        {% endfor %} 
    </ul>
   {% else %}
    <h3>No Product Yet</h3>
   {% endif %} 
</body>
</html>